@media (max-width: 1200px) {
  /* HERO */
  .hero {
    padding-bottom: 80px;
  }
  .hero > .container {
    flex-wrap: wrap;
    column-gap: 30px;
  }

  /* .decor__left,
  .decor__right {
    background-size: 368px auto; */
    /* background-size: cover;
  } */

  .decor__right {
    order: 2;
    margin-top: 0;
  }

  .content {
    order: 3;
    padding-top: 72px;
  }

  /* END HERO */
}

@media (max-width: 1110px) {
  body {
    font-size: 16px;
  }

  .nums {
    margin-top: 0px;
  }

  .container {
    max-width: 689px;
  }

  h1.title {
    font-size: 48px;
    line-height: 1;
  }
  h2.title {
    font-size: 40px;
    line-height: 1.1;
  }

  /* HEADER */
  header > .container {
    min-height: 140px;
    padding-top: 48px;
  }
  /* END HEADER */

  /* HERO */
  .content {
    row-gap: 24px;
  }

  .title__hero + p {
    padding-bottom: 32px;
  }
  /* END HERO */

  /* GALLERY */
  .images {
    column-gap: 11px;
  }
  .image,
  .image > img {
    width: 164px;
    height: 156px;
  }
  .image > img {
    object-fit: cover;
  }

  /* END GALLERY */

  /* BANNER */
  .banner {
    padding-top: 48px;
    padding-bottom: 72px;
  }

  .banner__title + p {
    font-size: 16px;
    line-height: 1.62;
  }

  .banner__header {
    max-width: 573px;
  }
  /* END BANNER */

  /* FOOTER */
  .footer {
    padding-top: 92px;
    padding-bottom: 66px;
  }
  .footer > .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer__title {
    flex: 100%;
    width: 343px;
    text-align: center;
  }
  .footer__title:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  h2.footer__title + p {
    flex: 100%;
    max-width: 574px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    text-align: center;
  }
  h2.footer__title + p:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  /* END FOOTER */

  /* END  1110px */
}

@media (max-width: 835px) {
  .decor {
    width: 360px;
  }
  .decor__left,
  .decor__right {
    background-size: 360px auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 327px;
  }
  h1.title {
    font-size: 40px;
    line-height: 1.1;
  }
  h2.title {
    font-size: 32px;
    line-height: 1.12;
  }

  /* HEADER */
  header > .container {
    min-height: 130px;
  }
  /* END HEADER */

  /* HERO */
  .hero {
    padding-bottom: 64px;
  }
  .hero > .container {
    column-gap: 16px;
    width: 100%;
  }
  .decor {
    width: 170px;
    height: 153px;
  }

  .decor__left,
  .decor__right {
    background-size: 170px auto;
  }

  .content {
    padding-top: 48px;
  }

  .title__hero + p {
    max-width: 327px;
    /* margin-top: 0;
    padding: 0 15px; */
  }

  .hero__buttons {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  /* END HERO */

  /* GALLERY */
  .images {
    flex-wrap: wrap;
    gap: 25px;
  }
  .image,
  .image > img {
    width: 151px;
    height: 143px;
  }
  /* END GALLERY */

  /* BANNER */
  .banner {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .banner__header p:first-child {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--main_color);
  }
  /* END BANNER */

  /* FOOTER */
  .footer {
    padding-bottom: 72px;
  }

  .footer__title:not(:last-child) {
    margin-bottom: 24px;
  }

  h2.footer__title + p:not(:last-child) {
    margin-bottom: 32px;
  }

  /* END FOOTER */

  /* END 768px */
}
